@charset "utf-8";

body { margin: 0px; font-family: "나눔고딕", NanumGothic, "돋움", Dotum, Arial; font-size: small; color: #555; }
h1, h2, h3, h4, h5 { margin: 0px; font-size:inherit; }
ul { margin:0px; padding: 0px; list-style: none; }
a { text-decoration: none; color:#444444;}
img,fieldset, button { border: 0px; }
table { border-collapse: collapse; }
/* 기본적으로  font-size:0px 인 경우라도 브라저우저 기본 line-height: 120%를 가지므로 line-height:0px;로 지정한다.*/
caption, legend { font-size:0px; line-height: 0px; width:0px; height:0px; overflow:hidden; } 
fieldset {border: 0 solid transparent;}

/* 하단푸터고정 */
html, body{height:100%}
#wrap{width:100%; overflow:hidden; margin:0 auto}
#container{clear:both; overflow:hidden; width:100%;}

/* 공통 클래스 */
.floatR { float: right; } 
.relative { position: relative; }
.absolute { position: absolute; }
.title {font-weight:bold; color: #6798FD}

/* header */
#header {width: 100%; overflow: hidden;border-bottom: 1px solid #e4e4e4;}
#header .global_wrap{width:990px; margin:0 auto; overflow:hidden;}
#header .global_wrap h1{float:left; margin-top:15px;}
#header .global a{color:#888;}
#header .global ul{float:right; margin-top:40px;}
#header .global ul li{display:inline-block; float:left; text-align:center}
#header .global .global1{width:130px;}
#header .global .last{width:80px;}
#header .logo { padding: 40px 20px;}

/* footer */
#footer {overflow:hidden; clear:both; border-top:1px solid #e4e4e4 ; width:100%; padding-bottom:20px; /*margin-top:20px;*/}
.foot_menu{width:990px; margin:0 auto; overflow:hidden}
.foot_menu p {padding:10px 30px;}


/* 페이징*/
.paginate{padding-top:55px;text-align:center; clear:both;}
.paginate a, .paginate strong{display:inline-block;position:relative;border:1px solid #e9e9e9; margin-left:-2px;padding:4px 10px 5px 10px;
background:#fff;color:#313031;font-family:'verdana',Dotum,'굴림',Gulim, AppleGothic, Sans-serif;font-size:12px;font-weight:bold;line-height:normal;text-decoration:none}
.paginate strong{color:#00639a !important}
.paginate img{vertical-align:middle}
.paginate a.pre{border:none;font-weight:normal}
.paginate a.pre_end{border:none;font-weight:normal; padding-right:1px}
.paginate a.next{border:none;font-weight:normal; margin-left:1px; padding-right:1px}
.paginate a.next_end{border:none;font-weight:normal; }
